#bgvid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
}

.video-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  @media (min-width: 762px) {
    font-size: 3.5rem;
  }
}

.card {
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}
