/* Start navbar styles */

.navbar {
  transition: 1.2s background-color;
  text-shadow: 2px 2px 4px black;

  @media (max-width: 768px) {
    background-color: white;
    color: black !important;
    text-shadow: none;
  }
}

.navbar li a {
  @media (max-width: 768px) {
    color: black;
  }
  color: white;
  font-weight: bold;
  font-size: 125%;
  text-decoration: none;
  display: inline-block;
  padding: 15px 5px;
  position: relative;
}
.navbar li[class~="underline"] {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.navbar li[class~="underline"] a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar li[class~="underline"] a:hover:after {
  width: 100%;
  left: 0;
}

.navbar .dropdown-menu {
  border: none;
  border-radius: 0;
}

.navbar .dropdown-item {
  background-color: #fff;
}
.my-navbar-img {
  height: 80px;
  width: auto;
  @media (max-width: 768px) {
    height: 50px;
  }
}

.navbar-scroll {
  box-shadow: 0px 1px 10px 1px rgba(150, 114, 116, 0.7);
  background-color: white;
  text-shadow: none;
  color: black !important;

  li a {
    color: black;
  }

  li a .submit-btn {
    color: white;
  }
}
