---
layout: base
title:
---
<!-- assign variable to invalidate cache upon each new build -->
{% assign cache_buster = site.time | date: '%s%N' %}

{% assign general = site.data.general.items %}

<div class="video-container" id="video">
    <video autoplay muted playsinline preload loop class="bg-video" poster="{{'/assets/video/poster.jpg'}}?{{cache_buster}}">
        <source src="{{'/assets/video/seeds.mp4'}}?{{cache_buster}}" type="video/mp4">
    </video>
    <div class="headline d-none d-md-block">
        <h1 class="text-white">{{general.headline}}</h1>
    </div>
</div>

<!-- intro section -->

<div class="bg-light py-5">
    <a class="anchor" id="introduction"></a>
    <div class="container">
        <div class="d-md-none text-center mb-5">
            <h1>{{general.headline}}</h1>
        </div>
        <p class="lead">{{general.description}}</p>
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls playsinline>
                        <source src="{{'/assets/video/markerjavec.mp4'|relative_url}}" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pb-5 mb-5">
    <h2 class="mt-5 pt-5 text-center">{{general.opps.heading}}</h2>
    <div class="row mt-3">
        {% for i in general.opps.items %}
            <div class="col-sm-6 col-md-4 col-12 mt-4 justify-content-center">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div class="opps-circle">
                                <img src="{{i.icon}}">
                            </div>
                            <h5 class="mt-3 text-center px-4 font-weight-bold">{{i.heading}}</h5>
                        </div>
                        <div class="flip-card-back">
                            <p>{{i.text}}</p>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</div>

<!-- portfolio section -->
{% assign port = site.data.general.items.portfolio %}

<div class="section bg-light">
    <a class="anchor" id="portfolio"></a>
    <div class="container">
        <h2 class="text-center">{{port.heading}}</h2>
        <p class="mt-4">{{port.text}}</p>

        {% include static_map.html %}
        <!-- portfolio cards -->
        <div class="card-deck mt-5">
            {% for i in port.items %}
                {% assign remainder = forloop.index |modulo: 3 %}
                <div class="card card-a">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold mb-0">{{i.heading}}</h5>
                        {% if i.subheading %}
                            <p class="font-weight-bold">{{i.subheading}}</p>
                        {% endif %}
                        <p class="card-text">{{i.p}}</p>
                        {% if i.href %}
                            <p class="card-text">
                                <a href="http://{{i.href}}" target="_blank">{{i.href}}</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
                {% if remainder == 0 %}
                </div>
                <div class="card-deck mt-4">
                {% endif %}
                {% if forloop.last == true %}
                    {% case remainder %}
                        {% when 1 %}
                            <div class="card placeholder-card"></div>
                            <div class="card placeholder-card"></div>
                        {% when 2 %}
                            <div class="card placeholder-card"></div>
                    {% endcase %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<!-- team section -->
{% assign team = site.data.general.items.team %}

<div class="section">
    <a class="anchor" id="team"></a>
    <div class="container">
        <h2 class="text-center">{{team.heading}}</h2>
        <div class="row mt-5">
            {% for i in team.items %}
                <div class="col-md-3 mb-5">
                    <img class="img-fluid rounded-circle img-team" alt="{{i.name}}" src="{{i.img}}">
                    <h4 class="mb-0 mt-4 font-weight-bold">{{i.name}}
                        <a href="{{i.linkedin}}" target="_blank"><img src="/assets/icon/linkedin.png" alt="{{i.name}}"></a>
                    </h4>
                    <p class="font-weight-bold mb-0">{{i.title}}</p>
                    <p class="mb-1">
                        <a href="mailto:{{i.mail}}">{{i.mail}}</a>
                    </p>
                    <p class="">{{i.text}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- media section -->
{% assign media = site.data.general.items.media %}
<div class="section bg-light">
    <a class="anchor" id="media"></a>
    <div class="container">
        <h2 class="text-center">{{media.heading}}</h2>
        {% for i in site.news reversed %}
            <a href="{{i.link}}" target="_blank" class="media">
                <div class="row mt-3 pt-2">
                    <div class="d-none d-sm-block col-sm-2">
                        <img src="{% if i.img %}{{i.img}}{% else %}/assets/img/logo.png{% endif %}" alt="{{i.title}}" class="img-fluid media-preview">
                    </div>
                    <div class="col-sm-10">
                        <p class="font-weight-bold mb-0">{{i.date|date:'%B %e, %Y'}}</p>
                        <h4 class="">{{i.title}}</h4>
                        <p>{{i.content}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

<!-- contact section -->
<div class="section">
    <a class="anchor" id="contact"></a>
    <div class="container">
        <h2 class="text-center">Contact Us</h2>
        <form class="mt-5">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-6">
                    <div class="form-group">
                        <label for="contactFormName">Name<sup>*</sup>
                        </label>
                        <input class="form-control" id="contactFormName" placeholder="Your Name" required type="text">
                    </div>
                    <div class="form-group">
                        <label for="contactFormEmail">Email<sup>*</sup>
                        </label>
                        <input class="form-control" id="contactFormEmail" placeholder="name@example.com" required type="email">
                    </div>
                    <div class="form-group">
                        <label for="contactFormPhone">Phone number (optional)</label>
                        <input class="form-control" id="contactFormPhone" placeholder="+ 1 (888) 888-8888" type="text">
                    </div>
                    <div class="form-group">
                        <label for="contactFormType">I am an...<sup>*</sup>
                        </label>
                        <select class="form-control" id="contactFormType">
                            <option disabled selected value="">Please choose one...</option>
                            <option>Investor</option>
                            <option>Entrepreneur</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="contactFormMessage">Message<sup>*</sup>
                        </label>
                        <textarea class="form-control" id="contactFormMessage" rows="5"></textarea>
                    </div>
                    <button class="btn st-btn mt-3" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- invest modal -->
{% assign invest = site.data.general.items.invest %}
<div aria-hidden="true" aria-labelledby="investModalLabel" class="modal fade" id="investModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="investModalLabel" style="margin-left: auto">{{invest.title}}</h3>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img alt="Mark M. Erjavec" class="text-center my-4 img-fluid rounded-circle img-invest" src="{{invest.img}}">
                <p class="text-justify">{{invest.text}}</p>
                <h4 class="mt-4">Let's get started!</h4>
                <p>
                    <a class="btn st-btn mt-3" href="{{invest.url}}" target="_blank">{{invest.link}}</a>
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>