<!-- assign variable to invalidate cache upon each new build -->
{% assign cache_buster = site.time | date: '%s%N' %}

<div class="flex-container font-weight-bold bg-green text-white" id="footer">
    <div class="container py-5 text-center">
        <p>Copyright &copy; Agro Fund One 2017-<span id="currentYear"></span>
        </p>
        <p class="mt-3">{% include privacy.html %}</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{'/assets/js/bootstrap.min.js' | relative_url}}?{{cache_buster}}" async></script>
<script type="text/javascript" src="{{'/assets/js/ekko-lightbox.min.js' | relative_url}}?{{cache_buster}}" async></script>
<script type="text/javascript" src="{{'/assets/js/myscript.js' | relative_url}}?{{cache_buster}}" async></script>