<!-- assign variable to invalidate cache upon each new build -->
{% assign cache_buster = site.time | date: '%s%N' %}

<div class="flex-container font-weight-bold bg-green text-white" id="footer">
    <div class="container py-5 text-center">

        <p class="text-center mt-4">
            <a class="mr-2" href="{{site.social_media.twitter}}" target="_blank" rel="noopener"><img class="img-white" height="32px" width="32px" src="/assets/img/icon/twitter.png" alt="{{page.title}} Twitter"></a>
            <a class="mr-2" href="{{site.social_media.linkedin}}" target="_blank" rel="noopener"><img class="img-white" height="32px" width="32px" src="/assets/img/icon/linkedin.png" alt="{{page.title}} LinkedIn"></a>
        </p>

        <p class="mt-5">Copyright &copy; Agro Fund One 2017-<span id="currentYear"></span>
        </p>
        <p class="mt-3">{% include privacy.html %}</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{'/assets/js/bootstrap.min.js' | relative_url}}?{{cache_buster}}" async></script>
<script type="text/javascript" src="{{'/assets/js/ekko-lightbox.min.js' | relative_url}}?{{cache_buster}}" async></script>
<script type="text/javascript" src="{{'/assets/js/myscript.js' | relative_url}}?{{cache_buster}}" async></script>