{% case page.lang %}
    {% when "en" %}
        {% assign pois = site.data.english.items.portfolio.pois %}
    {% when "es" %}
        {% assign pois = site.data.spanish.items.portfolio.pois %}
    {% when "pt" %}
        {% assign pois = site.data.portuguese.items.portfolio.pois %}
{% endcase %}


<div class="map-bg my-5">
    {% for i in pois %}
        <a aria-label="{{i.name}}" data-target="#locationModal{{forloop.index}}" data-toggle="modal" href="">
            <span class="location d-none d-md-block" style="top: {{i.top}}; left: {{i.left}}"></span>
        </a>

        <a aria-label="{{i.name}}" data-target="#locationModal{{forloop.index}}" data-toggle="modal" href="">
            <span class="location d-md-none" style="top: {{i.top_m}}; left: {{i.left_m}}"></span>
        </a>
    {% endfor %}

    <!-- Modals -->
    {% for i in pois %}
        <div aria-hidden="true" aria-labelledby="locationModal{{forloop.index}}Title" class="modal fade" id="locationModal{{forloop.index}}" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="locationModal{{forloop.index}}Title">{{i.name}}</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% for j in i.content %}
                                <li>{{j}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
