---
---

$primary-color: #967274;
$secondary-color: #6a9b7d;

@import url("https://fonts.googleapis.com/css2?family=Latos:wght@700&family=Mukta:wght@400;600&display=swap");
$theme-font: "Mukta", Helvetica, sans-serif;
$header-font: "Lato";

* {
  font-family: $theme-font;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-family: $header-font;
  // letter-spacing: 3px;;
}

h2 {
  margin-top: auto;
  margin-bottom: auto;
}

.main {
  min-height: 80vh;
  @media (max-width: 768px) {
    margin-top: 80px;
  }
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @media (max-width: 820px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  min-height: 30vh;
}

/* adjusting scrolling for fixed navbar */
a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/* background styles */

.bg-red {
  background-color: $primary-color;
}
.bg-green {
  background-color: $secondary-color;
}
.bg-light {
  background-color: lighten(#dcdcdc, 25%);
}
.bg-farm {
  background: no-repeat top center
    url({{"/assets/img/farm_bg.jpg"|relative_url}});
  background-attachment: fixed;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .bg-farm {
    background-attachment: scroll;
  }
}

/* opportunities  */

.opps-circle {
  background: $secondary-color;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: table;
  margin: auto;

  img {
    height: 100%;
    width: auto;
  }
}

/* portfolio styles */

.placeholder-card {
  background: none;
  border: none;
  box-shadow: none !important;
}

.card-a {
  box-shadow: 0 6px 18px 0 rgba(86, 91, 115, 0.45) !important;
  transition: box-shadow 0.2s;
}

.map-bg {
  background-image: url("/assets/img/map.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 46.79%;
  position: relative;
}

.location {
  position: absolute;
  background: $primary-color;
  border-radius: 50%;
  margin: 10px;
  height: 17px;
  width: 17px;
  @media (max-width: 820px) {
    height: 13px;
    width: 13px;
  }
  box-shadow: 0 0 0 0 $primary-color;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/* team styles */

.img-team {
  text-align: center;
  margin: auto;
  border: 5px solid $secondary-color;
  width: 250px;
}

.img-invest {
  text-align: center;
  margin: auto;
  border: 5px solid $secondary-color;
  width: 150px;
}

/* media */

.media {
  color: black !important;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.form-hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* footer */

#footer {
  a {
    color: white;
  }
}

.sm-icon {
  filter: invert(52%) sepia(10%) saturate(935%) hue-rotate(308deg)
    brightness(89%) contrast(83%);
}

#map {
  height: 500px;
  @media (max-width: 820px) {
    height: 650px;
  }
}

@import "hamburger";
@import "flipcard";
@import "lightbox";
@import "navbar";
@import "buttons";
@import "index";
