---
---

$primary-color: #967274;
$secondary-color: #6a9b7d;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@400;700&display=swap');
$theme-font: 'Lato', Helvetica, sans-serif;

* {
  font-family: $theme-font;
}

h1,h2,h3,h4 {
  font-weight: bold;
}

h1 {
  font-family: 'Anton', 'sans-serif';
  letter-spacing: 3px;;
}

h2 {
  margin-top: auto;
  margin-bottom: auto;
}

.main {
  min-height: 80vh;
  @media (max-width: 768px) {
    margin-top: 80px;
  }
}

.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
  @media (max-width: 820px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
   }
}

/* adjusting scrolling for fixed navbar */
a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
    @media (max-width: 820px) {
      top: -100px;
     }
}


/* background styles */

.bg-red {background-color: $primary-color;}
.bg-green {background-color: $secondary-color;}
.bg-light {background-color: lighten(#dcdcdc,25%)}
.bg-farm {
  background: no-repeat top center url({{'/assets/img/farm_bg.jpg'|relative_url}});
  background-attachment: fixed;
  background-size: cover;

 }
 @media only screen and (max-device-width: 1366px) {
   .bg-farm {
     background-attachment: scroll;
   }
 }

 /* button styles */

.cta-btn {
  padding: 15px;
  border: none !important;
  margin-top: 13px;

}
.cta-btn a{
  background: $primary-color;
  color: white !important;
  border-radius: 3px;
  padding: 2px 20px!important;
  transition: 0.4s all;
  font-weight: bolder;
  text-shadow: none;
  box-shadow: 0 2px 8px 0 darkgrey;
}
.cta-btn a:hover {
  background: darken($primary-color, 15%)
}

.st-btn {
  background-color: $secondary-color;
  border-radius: 5px;
  box-shadow: 2px 5px 3px #dcdcdc;
  transition: 0.4s box-shadow;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  min-width: 120px;
  font-size: 120%;
  &:hover {
    box-shadow: 5px 8px 5px #dcdcdc;
    text-decoration: none;
    color: white;
  }
}

/* Start navbar styles */

.navbar {
  transition: 1.2s background-color;
  text-shadow: 2px 2px 4px black;

  @media (max-width: 768px) {
    background-color: white;
    color: black !important;
    text-shadow: none;
  }
}

.navbar li a {
  @media (max-width: 768px) {
    color: black;
  }
  color: white;
  font-weight: bold;
  font-size: 125%;
  text-decoration: none;
  display: inline-block;
  padding: 15px 5px;
  position: relative;
}
.navbar li[class~="underline"] { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}

.navbar li[class~="underline"] a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar li[class~="underline"] a:hover:after { 
  width: 100%; 
  left: 0; 
}

.navbar .dropdown-menu {
border: none;
border-radius: 0;
}

.navbar .dropdown-item {
background-color: #fff;
}
.my-navbar-img {
  height: 80px;
  width: auto;
  @media (max-width: 768px) {
    height: 50px;
  }
 }

 .navbar-scroll {
  box-shadow: 0px 1px 10px 1px rgba(150,114,116,.7);
  background-color: white;
  text-shadow: none;
  color: black !important;
 
  li a {
    color: black;
  }

  li a .submit-btn {
    color: white;
  }

}


 /* Start video styles */

 #video {
  max-height: 60vh;
  overflow: hidden;
  position: relative;

  .bg-video {
    width: 100%;
    background: top center url({{'/assets/img/farm_bg.jpg'|relative_url}})
  }

  .headline {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 4px 4px 8px black;
    width: 75% !important;
    @media (max-width: 820px) {
      width: 95% !important;
    }

    h1 {
      font-size: 5rem;
      @media (max-width: 820px) {
        font-size: 1.5rem;
      }
    }
  }
}


/* opportunities  */

.opps-circle {
  background: $secondary-color;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: table;
  margin: auto;

  img {
    height: 100%;
    width: auto;
  }
}

/* portfolio styles */

.placeholder-card {
  background: none;
  border: none;
  box-shadow: none !important;
}

.card-a {
  box-shadow: 0 6px 18px 0 rgba(86, 91, 115, .45) !important;
  transition: box-shadow .2s;
}

.map-bg {
  background-image: url('/assets/img/map.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 46.79%;
  position: relative;
}

.location {
  position: absolute;
  background: $primary-color;
	border-radius: 50%;
	margin: 10px;
	height: 17px;
	width: 17px;
  @media (max-width: 820px) {
    height: 13px;
    width: 13px;
  }
	box-shadow: 0 0 0 0 $primary-color;
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
/* team styles */

.img-team {
  text-align: center;
  margin: auto;
  border: 5px solid $secondary-color;
  width: 250px;
}

.img-invest {
  text-align: center;
  margin: auto;
  border: 5px solid $secondary-color;
  width: 150px;
}

/* media */

.media {
  color: black !important;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.form-hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* footer */

#footer {
  a {
    color: white
  }
}

#map {
  height: 500px;
  @media (max-width: 820px) {
    height: 650px;
  }
}

@import 'hamburger';
@import 'flipcard';
@import 'lightbox';