---
layout: base
---

{% case page.lang %}
    {% when "en" %}
        {% assign data = site.data.english.items.home %}
    {% when "es" %}
        {% assign data = site.data.spanish.items.home %}
    {% when "pt" %}
        {% assign data = site.data.portuguese.items.home %}
{% endcase %}

<div class="container mt-5 pt-5">
    <h1>{{page.title}}</h1>

    <div class="mt-5 pt-5 row">
        <div class="col-md-6">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
            <script>
              hbspt.forms.create({
            portalId: "8726486",
            formId: "1701fc8f-4e9a-4599-9238-21fd51449dcb"
            });
            </script>
        </div>
    </div>
</div>
