---
layout: base
---

<div class="container mt-5 pt-5">
    <div class="row">
        {% if page.logo %}
        <div class="col-md-3 pt-2">
            <img src="{{page.logo}}" class="img-fluid" alt="{{page.title}} Logo">
        </div>
        {% endif %}
        <div class="col-md-6">
            <h1>{{page.title}}</h1>
            {{content}}
        </div>
        <div class="col-md-2 offset-md-{% if page.logo %}1{% else %}4{% endif %}">
            {% if page.region %}
            <p>
                <small class="text-muted">Region</small><br>
                {{page.region}}
            </p>
            {% endif %}
            {% if page.location %}
            <p>
                <small class="text-muted">Location</small><br>
                {{page.location}}
            </p>
            {% endif %}
            {% if page.invested %}
            <p>
                <small class="text-muted">Invested</small><br>
                {{page.invested}}
            </p>
            {% endif %}
            {% if page.website %}
            <p>
                <small class="text-muted">Website</small><br>
                <a href="//{{page.website}}" target="_blank" rel="noopener">{{page.website}}</a>
            </p>
            {% endif %}
            {% if page.twitter or page.linkedin %}
            <p>
                <small class="text-muted">Social Media</small><br>
                {% if page.twitter %}<a class="mr-2" href="//{{page.twitter}}" target="_blank" rel="noopener"><img height="24px" width="24px" src="/assets/img/icon/twitter.png" alt="{{page.title}} Twitter"></a>{% endif %}
                {% if page.linkedin %}<a class="mr-2" href="//{{page.linkedin}}" target="_blank" rel="noopener"><img height="24px" width="24px" src="/assets/img/icon/linkedin.png" alt="{{page.title}} LinkedIn"></a>{% endif %}

            </p>
            {% endif %}
        </div>
    </div>
    <p class="mt-5"> 
        <a href="/{{page.lang}}/portfolio/" class="">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Back to Portfolio
        </a>
    </p>
</div>
